<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <link rel="stylesheet" href="../assets/css/afim.css">
</head>

<body>
    <header>
        <h1>Calculadora</h1>
        <nav>
            <ul>
                <li><a href="afim.html">Função afim</a></li>
                <li><a href="./quadratica.html">Função quadratica</a></li>
            </ul>
        </nav>
    </header>
    <section>

        <p>
            <input type="number" name="pax" id="ax">X +
            <input type="number" name="pb" id="b"> = 0
        </p>

        <button onclick="calcular()">Gerar e calcular</button>

        <div id="res"></div>
        <div id="cal"></div>
    </section>
    <script src="../assets/js/afim.js"></script>
</body>

</html>